// Variables
@import 'variables';

.zalupa {
    font-size: 8px;
}

.article-wrapper {
    margin-top: 10px;
}

p.results-title span {
    color: red;
    font-weight: bold;
}

.article-wrapper article {
    border: 1px solid black;
    margin-bottom: 10px;
}

.article-wrapper h2.article-name span,
.article-wrapper p.article-body span {
    color: red;
    font-weight: bold;
}
