// Variables
@import 'variables';
//@import "reset";

.article-wrapper {
    margin-top: 10px;
}

p.results-title span {
    font-weight: bold;
}

.article-wrapper article {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px 15px 25px 10px;
}

.article-wrapper h2.article-name {
    font-size: 24px;
    color: $article-text-color;
    font-weight: 400;
}

.article-wrapper p.article-snippets {
    font-size: 15px;
    font-style: italic;
    color: $article-text-color;
    margin: 20px 0 0 0;
}

.article-wrapper h2.article-name em,
.article-wrapper p.article-snippets em {
    color: black;
    font-weight: bold;
    font-style: normal;
}

.article-wrapper h2 {
    margin: 0;
}

p.article-body {
    margin: 15px 0 0 0;
    font-size: 18px;
}

nav.main-router-wrapper a {
    color: $article-text-color;
    margin: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
}

nav.main-router-wrapper a:hover {
    color: black;
}

nav.main-router-wrapper a.router-link-active {
    color: brown;
}
